.detail-page {

}

.detail-page-title {
  font-size: $px22;
  color: #000000;
  font-weight: bold;
  margin-bottom: $px20;
}
.detail-page-box {
  padding: $px20;
  background: #fff;
  // margin-bottom: $px35;
}
.box-title {
  font-size: $px18;
  color: #262626;
  font-weight: 500;
  margin-bottom: $px15;
}
.box-description {
  font-size: $px16;
  color: #334D6E;
  font-weight: 400;
}