.staff-modal-create,
.customer-modal-create,
.doctor-modal-create{
    width:$px900 !important;
    
    .btn-icon-left{
        &.btn-add-specialize{
            color:  #6B7280 !important;
            margin: $px4 0;
            svg path{
                fill:  #6B7280 !important;
            }
        }
        &.dynamic-delete-button{
            min-width: unset !important;
            margin-top: -$px8;
            height: $px40 !important;
            svg{
                margin-right:0 !important;
                path {
                    fill: #ffffff !important;
                }
            }
        }
    }
    .title-doctor{
        font-size: $px16;
        padding: $px8 0;
        color: #6B7280;
        &.bold{
            font-weight: bold !important;
        }
    }
    .ant-upload.ant-upload-select,
    .ant-upload-list-item-container{
        width: 100% !important;
        height: $px120 !important;
    }

    .ant-modal-body{
        height: 65vh;
        padding-right: 0 !important;
        .ant-tabs{
            height: 100%;
        }
        .ant-tabs-tab{
            padding: $px12 0;
            font-size: $px14;
            &+.ant-tabs-tab{
                margin: 0 0 0 $px32;
            }
        }
        .ant-tabs-top >.ant-tabs-nav{
            margin: 0 0 $px16 0;
            .ant-tabs-ink-bar{
                height: $px2;
                width: $px50;
            }
        }
        .ant-tabs-content-holder{
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: $px8;
        }
        .table-account{
            height: 45vh; 
            .ant-table-body{
                border: $px1 solid #f0f0f0;
            }
        } 

        .avatar-box-container{
            .avatar-box{
                .ant-upload.ant-upload-select{
                    height: auto !important;
                }
            }
        }
    }
}