.avic-form-editor{
    .tox-tinymce{
        height: $px275 !important;
        border: $px2 solid #eee ;
        border-radius: $px10;
        font-size: $px14;
        .tox-editor-container{
            font-size: $px14 !important;
            .tox-editor-header{
                box-shadow: 0 $px2 $px2 -$px2 rgba(34,47,62,.1), 0 $px8 $px8 -$px4 rgba(34,47,62,.07);
                padding: $px4 0;
                .tox-toolbar{
                    background-position: center top $px40;
                    background-size: calc(100% - #{$px12} * 2) calc(100% - #{$px40});
                }
                .tox-toolbar__group{
                    padding: 0 $px12;
                }
                .tox-tbtn{
                    font-size: $px14;
                    height: $px28;
                    margin: $px6 $px1 $px5 0;
                }
            }
        }
    }
    #tinymce{
        background-color: red;
    }
}