.notification-box {
  width: $px350;
  height: $px450;
  background-color: #ffffff;
  border-radius: $px7;
  box-shadow: 0 0 $px15 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  .ant-spin-nested-loading {
    height: calc(100% - #{$px20 + $px26});
    width: 100%;
    padding-bottom: $px10;
  }
  .ant-spin-container {
    height: 100%
  }
  .notification-content-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $px10 $px20;
    .notification-content-title {
      font-size: $px20;
      line-height: $px26;
      color: #000000;
      font-weight: bold;
    }
    .notification-content-read-all {
      cursor: pointer;
      font-size: $px14;
      line-height: $px26;
      color: #03a9f4;
      font-weight: bold;
    }
  }

  .notification-content {
    height: 100%;
    overflow: auto;
    padding: $px10 0;
    .notification-item {
      padding: $px5 $px20 $px5 $px20;
      display: flex;
      &:hover {
        background-color: #ececec;
      }
      .notification-item-status {
        width: $px10;
        height: $px10;
        background-color: #03a9f4;
        border-radius: 50%;
        flex: none;
        margin-top: $px20;
        &.is-read {
          background-color: #6B7280;
        }
      }
      .notification-item-content-box {
        padding-left: $px20;
      }
      .notification-item-date {
        padding-top: $px5;
        font-size: $px12;
        color: #6B7280;
      }
      .notification-item-content {

      }
    }
  }
}