.profile-page {
  //box-shadow: 0 0 $px24 rgba(0, 0, 0, 0.1);
  //border-radius: $px7;
  padding-right: $px15;
  .profile-page-sidebar {
    box-shadow: 0 0 $px10 rgba(0, 0, 0, 0.1);
    padding-top: $px20;
    border-radius: $px7 $px7 0 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    //align-items: center;

    .profile-info {
      color: #334D6E;

      .profile-info-title {
        font-size: $px26;
        line-height: $px30;
        font-weight: 500;
        margin-bottom: $px5;
      }
      .profile-info-full-name {
        font-size: $px26;
        line-height: $px30;
        font-weight: 600;
        margin-bottom: $px5;
        text-align: center;
      }
      .profile-info-role {
        font-size: $px16;
        line-height: $px28;
        font-weight: 400;
        text-align: center;
        padding-bottom: $px30;
      }
      .profile-info-row {
        font-size: $px16;
        line-height: $px28;
        font-weight: 500;
        border: $px1 solid #F1F1F1;
        padding: $px18 $px24;
        .profile-info-account-label {
          width: $px110;
          display: inline-block;
          font-weight: 400;
          color: #6B7280;
        }
      }
    }

  }

  .profile-body {
    padding: $px20 $px50;
    box-shadow: 0 0 $px10 rgba(0, 0, 0, 0.1);
    border-radius: $px7;
    background: #fff;

    .ant-tabs-nav{
      margin: 0 0 $px16 0;
      &::before{
        border-bottom: $px1 solid rgba(5, 5, 5, 0.06);
      }
      .ant-tabs-tab {
        font-size: $px16;
        font-weight: 500;
        padding: $px12 0;
        &+.ant-tabs-tab {
            margin: 0 0 0 $px32;
        }
      }
      .ant-tabs-ink-bar{
        height: $px2;
      }
    }

    .profile-tab-content {
      padding-top: $px20;
      .profile-tab-content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $px20;

        .profile-tab-content-header-left {
          font-size: $px18;
          font-weight: 600;
        }
        .profile-tab-content-header-right {
          //svg {
          //  width: $px24;
          //}
          .anticon {
            font-size: $px24;
          }
        }
      }

      .avic-form {
        .ant-form-item-label {
          width: $px275;
          text-align: left;
        }

        .form-btn-container {
          padding-top: $px40;
          display: flex;
          justify-content: center;
        }
      }

      .account-config-bg-item {
        width: $px90;
        height: $px70;
        box-shadow: 0 0 $px15 rgba(0, 0, 0, 0.1);
        border-radius: $px7;
      }

    }
  }
}