.service-modal-create{
    width:$px900 !important;
    
    .btn-icon-left{
        &.btn-add-equipment{
            color:  #6B7280 !important;
            margin: $px4 0;
            svg path{
                fill:  #6B7280 !important;
            }
        }
        &.dynamic-delete-button{
            min-width: unset !important;
            margin-top: -$px8;
            height: $px40 !important;
            svg{
                margin-right:0 !important;
                path {
                    fill: #ffffff !important;
                }
            }
        }
    }
    .title-service{
        font-size: $px16;
        font-weight: bold !important;
        padding: $px8 0;
        color: #6B7280;
    }
    .ant-upload.ant-upload-select,
    .ant-upload-list-item-container{
        width: 100% !important;
        height: $px120 !important;
    }
}