// base on vw = 1920px / 100 = 19.2px = 1vw = 0.052083333333333336rem = 0.052vw = 0.052px 
$px1: 0.052vw;
$px2: 0.104vw;
$px3: 0.156vw;
$px4: 0.208vw;
$px5: 0.26vw;
$px6: 0.313vw;
$px7: 0.365vw;
$px8: 0.417vw;
$px9: 0.469vw;
$px10: 0.521vw;
$px11: 0.573vw;
$px12: 0.625vw;
$px14: 0.729vw;
$px15: 0.781vw;
$px16: 0.833vw;
$px17: 0.885vw;
$px18: 0.938vw;
$px20: 1.042vw;
$px22: 1.146vw;
$px24: 1.25vw;
$px25: 1.302vw;
$px26: 1.354vw;
$px28: 1.458vw;
$px30: 1.563vw;
$px32: 1.667vw;
$px34: 1.771vw;
$px35: 1.823vw;
$px40: 2.083vw;
$px42: 2.188vw;
$px43: 2.24vw;
$px44: 2.292vw;
$px45: 2.344vw;
$px50: 2.604vw;
$px55: 2.865vw;
$px60: 3.125vw;
$px65: 3.385vw;
$px68: 3.542vw;
$px70: 3.646vw;
$px80: 4.167vw;
$px82: 4.271vw;
$px90: 4.688vw;
$px92: 4.792vw;
$px100: 5.208vw;
$px110: 5.729vw;
$px120: 6.25vw;
$px125: 6.51vw;
$px150: 7.813vw;
$px160: 8.333vw;
$px175: 9.115vw;
$px200: 10.417vw;
$px240: 12.5vw;
$px250: 13.021vw;
$px275: 14.323vw;
$px350: 18.229vw;
$px450: 23.438vw;
$px520: 27.083vw;
$px750: 39.063vw;
$px800: 41.667vw;
$px850: 44.271vw;
$px900: 46.875vw;


$sidebarContainerWidth: 14.844vw; // set sidebar width
$sidebarContainerWidthCollapse: 4.688vw; // set sidebar width collapse

$dashboardOrderListHeight: ($px30+$px24)*7 - $px24; // set order list height
$dashboardTodoListMaxHeight: 26.042vw; // set todo list max height
